[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mock = "==3.0.5"
mockito = "==1.1.1"
pre-commit = "*"
pytest = "==5.0.1"
pytest-cov = "==2.7.1"
pytest-mock = "==1.10.4"
behave = "*"

[packages]
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
google-cloud-bigquery = "*"
google-cloud-storage = "*"
google-cloud-logging = "*"
importlib_resources = "*"
pyjson = "*"
pyyaml = "*"
requests = "==2.22.0"
retry = "*"
xlrd = "*"
jsonmerge = "*"
client = "*"
psycopg2-binary = "*"
cloudsecrets = {version = "*",git = "https://github.com/mozilla-it/cloudsecrets.git",ref = "master",editable = true}
schedule = "*"
polling2 = "*"
google-cloud-firestore = "*"

[requires]
python_version = "3.7"

[dev-packages]
v = {editable = true,version = "*"}
