boto3
cloudsecrets@git+https://github.com/mozilla-it/cloudsecrets.git@master#egg=cloudsecrets
google-cloud-logging
google-cloud-secret-manager
google-resumable-media
jsonmerge
pyjson
PyYAML
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
google-cloud-bigquery
google-cloud-storage
importlib_resources
pyjson
pyyaml
requests
retry
xlrd
jsonmerge
client
psycopg2-binary
schedule
polling2
google-cloud-firestore